[Unit]
Description=Service to continously save photos when external widllife trigger is activated

[Service]
ExecStart=/home/g6/emli-mini-project/src/pi/trigger/externa_trigger.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
